body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11pt;
    background-color: #f0f0f0;
    color: #333;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24pt;
    color: #00a800;
}